//! **************************************************************************
// Written by: Map K.39 on Wed Feb 29 17:34:27 2012
//! **************************************************************************

SCHEMATIC START;
COMP "switches<0>" LOCATE = SITE "P38" LEVEL 1;
COMP "switches<1>" LOCATE = SITE "P36" LEVEL 1;
COMP "switches<2>" LOCATE = SITE "P29" LEVEL 1;
COMP "switches<3>" LOCATE = SITE "P24" LEVEL 1;
COMP "resetButton" LOCATE = SITE "P69" LEVEL 1;
COMP "downButton" LOCATE = SITE "P47" LEVEL 1;
COMP "loadButton" LOCATE = SITE "P48" LEVEL 1;
COMP "upButton" LOCATE = SITE "P41" LEVEL 1;
COMP "counter<0>" LOCATE = SITE "P15" LEVEL 1;
COMP "counter<1>" LOCATE = SITE "P14" LEVEL 1;
COMP "systemClock" LOCATE = SITE "P54" LEVEL 1;
COMP "counter<2>" LOCATE = SITE "P8" LEVEL 1;
COMP "counter<3>" LOCATE = SITE "P7" LEVEL 1;
NET "systemClock_BUFGP/IBUFG" BEL "systemClock_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

